a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.Buttons{
    background-color: #00000000;
    color: var(--colorPrimaryLight);
    font-size: calc(.4em + .5vw);
    font-weight: bold;
    cursor: pointer;
}

.Buttons:hover{
    scale: 1.05;
    color: var(--colorPrimaryColorful);
}
