.HeaderGeral{
    display: flex;
    width: 85%;
    height: 1%;
    max-height: 50px;
    max-width: 1500px;
    padding: 2% 5%;
    margin-top: 2%;
    background-color: var(--colorSecundaryBlack);
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 2px 2px 20px var(--colorSecundaryBlack);

    & img{
        width: 10%;
        border-radius: 50%;
    }

    .divButonsHeader{
        display: flex;
        gap: 1.8vw;

        .buttonCurriculo{
            background-color: var(--colorPrimaryColorful);
            color: var(--colorPrymaryDark);
            font-size: calc(.4em + .5vw);
            font-weight: bold;
            cursor: pointer;
            padding: 2%;
            border-radius: 5px;
        }

        .buttonCurriculo:hover{
            scale: 1.05;
        }
    }
}