.GoToTop{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border-radius: 50%;
    background-color: var(--colorPrimaryColorful);
    color: var(--colorPrimaryDark);
    font-size: 1.3em;
    height: 30px;
    width: 30px;
    font-weight: bolder;
    bottom: 2%;
    right: 2%;
    cursor: pointer
}